apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-echo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: deploy-websrv
  template:
    metadata:
      labels:
        app: deploy-websrv
    spec:
      terminationGracePeriodSeconds: 0
      containers:
      - name: akos-websrv
        image: k8s.gcr.io/echoserver:1.5
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: svc-nlb-ip-type
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
{% if testInfo.user_input != "deploy-with-nlb-proxyprotocol" %}
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "8080"
{% endif %}
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
{% if testInfo.user_input == "deploy-with-nlb-proxyprotocol" %}
    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
{% endif %}
{% if testInfo.user_input == "deploy-with-nlb-https" %}
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ getACMArn.stdout }}
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
{% endif %}
spec:
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
{% if testInfo.user_input == "deploy-with-nlb-https" %}
      name: http
    - port: 443
      targetPort: 8080
      protocol: TCP
      name: https
{% endif %}
  type: LoadBalancer
  loadBalancerClass: service.k8s.aws/nlb
  selector:
    app: deploy-websrv