- include_vars: .secret

- import_tasks: install-prerequirement.yaml
  when: RunType == "install-kops"

- import_tasks: install-kops.yaml
  when: RunType == "install-kops"

- import_tasks: install-validate.yaml
  when: RunType == "install-kops"

- import_tasks: create-cluster.yaml
  when: RunType == "create-cluster"

- import_tasks: install-addons.yaml
  when: RunType == "install-addons"

- import_tasks: delete-cluster.yaml
  when: RunType == "delete-cluster"

- import_tasks: info-cluster.yaml
  when: RunType == "info-cluster" or RunType == "create-cluster"

- import_tasks: install-externaldns.yaml
  when: RunType == "install-externaldns" or RunType == "install-harbor" or RunType == "install-gitlab" or RunType == "install-argocd" or RunType == "install-prometheus"

- import_tasks: install-awslbcontroller.yaml
  when: RunType == "install-awslbcontroller" or RunType == "install-harbor" or RunType == "install-gitlab" or RunType == "install-argocd" or RunType == "install-prometheus"

- import_tasks: update-kops.yaml
  when: RunType == "update-kops"

- import_tasks: install-weavescope.yaml
  when: RunType == "install-weavescope"

- import_tasks: install-harbor.yaml
  when: RunType == "install-harbor"

- import_tasks: install-gitlab.yaml
  when: RunType == "install-gitlab"

- import_tasks: install-argocd.yaml
  when: RunType == "install-argocd"

- import_tasks: install-prometheus.yaml
  when: RunType == "install-prometheus"

- import_tasks: install-kwatch.yaml
  when: RunType == "install-kwatch"

- import_tasks: install-loki.yaml
  when: RunType == "install-loki"

- import_tasks: install-polaris.yaml
  when: RunType == "install-polaris"

- import_tasks: view.yaml