- include_vars: .secret

- import_tasks: install-prerequirement.yaml
  when: RunType == "install-kops"

- import_tasks: install-kops.yaml
  when: RunType == "install-kops"

- import_tasks: install-validate.yaml
  when: RunType == "install-kops"

- import_tasks: create-cluster.yaml
  when: RunType == "create-cluster"

- import_tasks: delete-cluster.yaml
  when: RunType == "delete-cluster"

- import_tasks: info-cluster.yaml
  when: RunType == "info-cluster" or RunType == "create-cluster"

- import_tasks: install-externaldns.yaml
  when: RunType == "install-externaldns"

- import_tasks: delete-externaldns.yaml
  when: RunType == "delete-externaldns"

- import_tasks: view.yaml